<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta name="description"
          content="Sandwich Club">
    <meta name="author" content="Sandwich Club">
    <link rel="icon" href="../public/favicon.ico">

    <title>
      {% if page.title %}
        Sandwich Club &middot; {{ page.title }}
      {% else %}
        Sandwich Club &middot; Synergistic Lunch Solutions
      {% endif %}
    </title>

    <link rel="stylesheet"
          href="../public/css/poole.css">
    <link rel="stylesheet"
          href="../public/css/syntax.css">
    <link rel="stylesheet"
          href="../public/css/lanyon.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
</head>
